
@use 'variable' as var;

* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}


*, *:before, *:after {
    box-sizing: inherit;
}

html {
    font-size: 16px;
}



body {
    font-family: 'Poppins', sans-serif;
    width: 100%;

}

.container {
    max-width: var.$max_width;
    width: 90%;
    // padding-left: 15px;
    // padding-right: 15px;
    margin: 0px auto;
    
}
%btn {
    padding: 15px 32px;
        font-size: 20px;
        text-transform: capitalize;
        border: none;
        cursor: pointer;
        border-radius: 8px;
        color: #fff;
        background: rgb(86,83,163);
        margin: 20px 0;
        background: linear-gradient(90deg, rgba(86,83,163,1) 0%, rgba(61,166,198,1) 100%);
}