@use  "../variable";
@import "../base";


$color1:#0e314c;
$color2:#eee;
$color3:#666666;


.back-heade{
    background: url("../Images/cont.jpg") center no-repeat fixed ;

    // background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
   
}
@media (max-width: 375px){
    .back-heade{
        background-size : cover;
        height: 500px;
       width: 100%;
       
    
    }
    
}









.sec-contact{
    
    margin-top: 0rem;
    height: 200vh;
}
.contact-title{
    text-align: center;
    padding-top: 1rem;
}
.contact-contenu{
    display: flex;
    justify-content:space-evenly ;
    padding-top: 5rem;

}
.contact--insc{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding-top: 1rem;
    
    
}
input{
    margin-top: 1rem;
    // padding: 1rem 1rem;
    padding:1rem 20rem 1rem 1rem;
    border: 2px solid #eee;
    border-radius: 4px ;
    background: #eee;
}
#Nom placeholder{
    text-align: start;
}
textarea{
    margin-top: 1rem;
    padding: 1rem 8.5rem 6rem 1rem;
    border: 2px solid white;
    border-radius: 8px ;
    margin-bottom: 1rem;
    background: #eee;
}
.button-contact {
    background-color: white; 
    border: 1px solid rgb(199, 194, 194);
    border-radius: 8px;
    color:black ;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 10px 0px 0px;
    transition-duration: 0.4s;
    cursor: pointer;

  }
  .button-contact:hover {
    background-color:rgb(40, 177, 219);
    color: white;
  }
@media (max-width: 375px){
    .sec-contact{
        height: 300vh;
    }
    .contact-title h1{
        font-size: 20px;
        text-align: center;
    }
    .contact-contenu {
        display: block;
        flex-direction: column;
        padding: 1rem 1rem 1rem 1rem;

    }
    .contact-contenu img{
        width: 345px;
        height: 248px;

    }
}

.box{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-left: 1rem;
    margin-top: 7rem;
    :hover{
        transform: scale(1.2);
        transition: transform  .6s;
            z-index: 2;
            box-shadow: 1px 2px 20px white;
    }
    .box-mail{
        border: 1px solid rgb(223, 220, 220);
        max-width: 20%;
        padding: 30px 40px;
        h4{
            text-align: center;
            line-height: 4rem;
            color: $color1;
            font-size: 18px;
        }
        a{
            text-align: center;
            text-decoration: none;
            margin-left: 2rem;
            color: $color3;
            font-size: 14px;
        }
        a:hover{
            color: rgb(40, 177, 219);
        }
        img{
            margin-left: 8.5rem;
            opacity: 1;
        }
        img:hover{
            transform: scale(1.5);
            z-index: 1;
            box-shadow: 1px 1px 10px white;

        }
    }
    .box-adresse{
        border: 1px solid rgb(223, 220, 220);
        max-width: 20%;
        padding: 30px 40px;
        
        h4{
            text-align: center;
            line-height: 4rem;
            color: $color1;
            font-size: 18px;
        }
        p{
            text-align: center;
            color: $color3;
            font-size: 14px;
        }
        img{
            margin-left: 8.5rem;
            opacity: 1;
        }
        img:hover{
            transform: scale(1.5);
            z-index: 2;
            box-shadow: 1px 2px 20px white;
        }
    }
    .box-phone{
        border: 1px solid rgb(223, 220, 220);
        max-width: 20%;
        padding: 30px 40px;
        h4{
            text-align: center;
            line-height: 4rem;
            color: $color1;
            font-size: 18px;
        }
        a{
            margin-left: 7rem;
            text-decoration: none;
            color: $color3;
            font-size: 14px;
        }
        a:hover{
            color: rgb(40, 177, 219);
        }
        img{
            margin-left: 8.5rem;
            opacity: 1;
        }
        img:hover{
            transform: scale(1.5);
            z-index: 2;
            box-shadow: 1px 2px 20px white;
        }
    }
}
.iframe_map{
    height: 450px;
    margin-top: 2.5rem;
}
@media (max-width: 375px){
    .box{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        margin-bottom: 3rem;

        .box-mail{
            border: 1px solid rgb(223, 220, 220);
            max-width: 84%;
            padding: 30px 20px;
            margin-bottom: 3rem;

           }
        .box-adresse{
            border: 1px solid rgb(223, 220, 220);
            max-width: 84%;
            padding: 30px 20px;
            margin-bottom: 3rem;

           }
         .box-phone{
            border: 1px solid rgb(223, 220, 220);
            max-width: 84%;
            padding: 30px 20px;
            margin-bottom: 3rem;
                
         }

    }
        
}