@use  "../variable";
@import "../base";




#contact {
    padding: 54px;
}
.contact--description {
    display: flex;
    flex-direction: column;
    height: 200px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.conatct--form {
    display: flex;
    justify-content: space-between;
    @media (max-width: 992px){
        flex-direction: column;
    }
    img {
        width: 50%;
        @media (max-width: 992px) {
            width: 100%;
        }

    }
    form {
        width: 50%;
        align-self: center;
        @media (max-width: 992px) {
            width: 100%;
        }

        input, textarea {
            display: block;
            width: 100%;
            padding: 15px 10px;
            margin: 15px 0px;
            border-radius: 8px;
            background-color: rgb(197, 197, 197);
            color: rgb(31, 22, 22);
        }
        #submit {
            @extend %btn;
        }
    }
}


.error {
    color: rgb(233, 20, 20);
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
}

.valide {
    color: green;
    font-size: 12px;
    text-align: center;
    padding-left: 10px;

}

.inputerror {
    border: 1px solid rgb(248, 83, 83) !important;
    color: #ffffff !important;
}

.inputValid {
    border: 2px solid rgb(5, 167, 5);
}